body{
    overflow: hidden;
    font-family:arial,sans-serif;
    height: 100vh;
}

header {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rrem 0;
    height: 5vh;
}

header:nth-of-type(3)
{
    margin: 0;
    padding: 0;

}

.link{
    margin-right: 10px;
    color: grey;
}

a.link {
    color:gray;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


.material-icons{
    margin-right: 1rrem;
    color:gray;
}

.material-icons:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(233, 229, 229, 0.616);
}

span + p{
    display: none;
}


span:hover + p{
    display:block;
    position:absolute;
    top: 5%;
    right: 4%;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 0.2rem;
    background-color: grey;
   
}

.gmailName{ 
    border-radius: 50%;
    background-color: red;
    color: black;
    height: 2.2vw;
    width: 2.2vw;
    border: 3px  grey;
    margin-left: 1rem;
}

.gmailName:hover{
    cursor: pointer;
    border: 1px solid rgb(240, 237, 237);
}

button[type=text] + p{
    display: none;
}

button[type=text]:hover + p{
    display: block;
    position: absolute;
    font-size: 1rem;
    top: 2.5rem;
    background-color: gray;
    border: 2px solid grey;
    border-radius: 5px;
}

.image {
    display:flex;
    justify-content: center;
    height: 15vh;
}

img {
    height: 7rem;
    width: 21rem;
}

.GoogleSearch {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    height: 3vh;
}
input[type=text]{
    width: 35rem;
    height: 2.5rem;
    border: 2px solid rgb(207, 198, 198,1);
    border-radius: 10rem;
    outline:  none;
    background-image: url("image/search.png");
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 40px;
 }
 
input[type=text]:focus{
    box-shadow: 2px 2px 4px 4px rgba(245, 255, 255), 1px 1px 4px 4px rgba(245, 255, 255);
}

input[type=text]:hover{
    box-shadow: 2px 2px 4px 4px rgba(245, 255, 255), 1px 1px 4px 4px rgba(245, 255, 255);
    
}

.Search {
    display : flex;
    justify-content: space-around;
    height: 5vh;
    margin-top: 5%;
    /* flex-direction: column; */
}

.styleMe{
    
    padding: 10px;
    background-color: #f7f2f3;
    border:hidden;
    justify-content: center;
    font-family: sans-serif;

}

.styleMe:focus , .styleMe:hover{
    cursor: pointer;
    transition: border 1ms ease-in-out;
    border: 1.5px solid rgb(214, 207, 207);
    border-bottom-width: 0.6px;
}

#pin1 {
    position : absolute;
    left: 42%;
}
#pin {
    position : absolute;
    left: 52%;
}

ul.lang{
    margin: 0 27%;
    /* display: flex; */
    list-style-type: none;
    justify-content: center;
    margin-top: -1.23rem;
    height: 5vh;
}

.Same{
    display: block;
    margin-left: 14rem;
    padding-top: 4rem;
}
a.same{
    padding: 15px 15px;
    text-decoration: none;
    color: rgb(119, 119, 153);
}
a.same:hover{
    color: purple;
}
.lang{
    display: flex;
    flex-direction: row;
}

.free {
    height: 28vh;
}

footer {
    height: 7vh;
    
}
div.country{
    height: 2rem;
    /* border-bottom: 1px solid grey; */
    background-color: rgb(241,238,238);
}

ul.futer {
    display: flex;
    flex-direction: row;
    /* border-top: 1px solid grey; */
    margin-top: -0.5rem;
    justify-content: space-evenly;
    list-style-type: none;
    width: 50%;
    background-color: rgb(241, 238, 238);
    margin-left: -3rem;
    padding-top: 1rem;
}



a.footer1{
    color: rgb(119, 119, 153);
    text-decoration: none;
}

footer {
    background-color: rgb(241, 238, 238);
    /* border-top: 1px solid grey; */
}

ul.sec2{
    display: flex;
    margin-top: -2rem;
    margin-left: 50rem;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-evenly;

}

 a.footer2,a.footer21{
    text-decoration: none;
}

.country {
    color: grey;
} 
 @media (max-width: 760px){

    .link {
        font-size: 0.8rem;
    }

     .material-icons{
        height: 0.75rem;
        width: 0.75rem;
    } 

     .material-icons:hover{
        border-radius: 50%;
    }

    .gmailName{
        height: 1.5rem;
        width: 1.5rem;
        
    }

    span:hover + p{
        font-size: 0.6rem;

    }

    button[type=text]:hover + p{
        font-size: 0.6rem;
        margin-top: 14px;
    }
    img {
        width: 7rem;
        height: 4rem;
        padding-left: 3rem;
    }

    input[type=text]{
        width: 17rem;
        height: 1rem;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .stylreme{
        font-size: 0.67rem;
        /* padding: -10rem; */
     }

    #pin1{
        padding: 6px;
        left: 40%;
    }

    #pin {
        padding: 6px;
        left: 55%;
    }

    .lang , footer p {
        font-size: 0.67rem;
    }

}

@media (max-width: 1200px){
    footer ul{
        font-size: 0.7rem;
    }
}   